.para {
  font-size: 3rem;
  margin: 3rem;
  text-align: center;
  font-weight: 200;
}

.th {
  border-collapse: collapse;
  border-left: 18rem white solid;
  border-right: 18rem white solid;
  border-spacing: 0;
}

.tr {
  border-collapse: collapse;
  border-left: 18rem white solid;
  border-right: 18rem white solid;
  border-spacing: 0;
  width: 100%;
}

.flex {
  display: flex;
}

.td1 {
  text-align: right;
  font-size: 1.4rem;
  width: 40rem;
  padding: 0.8rem;
  background-color: black;
  color: white;
  font-weight: 200;
}

.td2 {
  text-align: center;
  font-size: 1.4rem;
  width: 30rem;
  padding: 0.8rem;
  background-color: black;
  color: white;
  font-weight: 200;
}

.td3 {
  text-align: center;
  font-size: 1.4rem;
  width: 35rem;
  padding: 0.8rem;
  background-color: black;
  color: white;
  font-weight: 200;
}

.td {
  text-align: left;
  font-size: 1.4rem;
  width: 30rem;
  padding: 0.8rem;
  /* background-color: grey; */
}

.td6 {
  text-align: left;
  font-size: 1.4rem;
  width: 37rem;
  padding: 0.8rem;
  /* background-color: grey; */
}

.td4 {
  text-align: left;
  font-size: 1.4rem;
  width: 46rem;
  padding: 0.8rem;
  /* background-color: grey; */
}

.td5 {
  text-align: left;
  font-size: 1.4rem;
  width: 33rem;
  padding: 0.8rem;
  /* background-color: grey; */
}

.btn1 {
  padding: 1rem 2rem;
  margin: 2rem;
  margin-left: 18rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn2 {
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form {
  margin-left: 18rem;
  margin-top: 4rem;
}

.p {
  font-size: 2rem;
  margin-bottom: 4rem;
  font-weight: 200;
}

.label {
  box-sizing: border-box;
  font-size: 1.3rem;
  margin-top: 1rem;
  width: 20rem;
}

.l {
  margin-bottom: 1rem;
}

.input {
  margin-left: 1rem;
  padding: 0.2rem;
  width: 15rem;
}
